{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Add Cheese{% endblock %}

{% block content %}
{% with action=view.action|default:"Add" %}

<h1>{{ action }} Cheese</h1>
<form method="POST" action=".">
<!-- OLD DEFINITION, FOR PERSONAL FUTURE USE -->
<!-- <form method="POST" action="{% url 'cheeses:add' %}"> -- OLD DEFINITITON> 
<!--  -->
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">{{ action }}</button>
</form>

{% endwith %}
{% endblock %}
